<div class="cart-area d-n">
  <a routerLink="/cart-details">
    <div class="total">{{this.totalPrice | currency:"USD"}}
      <span> {{this.totalQuantity}}</span>
    </div>
    <i aria-hidden="true"
       class="fa fa-shopping-cart"></i>
  </a>
</div>
