<div class="form-header">
  <input #searchInput (keyup.enter)="searchForProducts(searchInput.value)" class="au-input au-input-xl"
         placeholder="Search for products ... " type="text"/>
  <button (click)="searchForProducts(searchInput.value)" class="au-btn-submit">
    Search
  </button>
</div>
