<div class="main-content">
  <div class="alert alert-warning col-md-12 text-center" role="alert">
    <h3>
      Members special
    </h3>
    <p>Thank you for being a member.</p>
    <p>Member discounts are coming soon!!</p>
  </div>
</div>
