<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!--        loop over the collection of products    -->
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}"
            ><img alt="product image" src="{{ product.imageUrl }}"
            /></a>
            <a routerLink="products/{{ product.id }}"
            ><h1>{{ product.name }}</h1></a
            >
            <div class="price">{{ product.unitPrice | currency: "USD" }}</div>
            <button (click)="addToCart(product)" class="btn btn-primary btn-sm" href="#">Add to cart</button>
          </div>
        </div>
        <div
          *ngIf="products?.length == 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No products found !
        </div>
      </div>

      <!--      begin footer-->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination
                  [(page)]="pageNumber"
                  [pageSize]="pageSize"
                  [collectionSize]="totalElements"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  (pageChange)="listProducts()">
                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right">
                <span>
                  Page size
                </span>
                <select #size (change)="updatePageSize(size.value)">
                  <option selected="true">8</option>
                  <option>20</option>
                  <option>30</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      end footer-->
    </div>
  </div>
</div>
