<div class="login-status-header d-flex">
  <div class="login-status-user-info">
    <div *ngIf="userObject">
      Welcome {{userObject?.firstName + " " + userObject?.lastName}}
    </div>
  </div>
  <button routerLink="/members" class="security-btn ">Member</button>
  <button *ngIf="!isAuthenticated" class="security-btn" (click)="login()">Login</button>
  <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn">Orders</button>
  <button *ngIf="isAuthenticated" class="security-btn" (click)="logout()">Logout</button>
</div>
