<div class="detail-section">
  <div class="container-fluid">
    <img class="detail-img" src="{{product.imageUrl}}">
    <h3>{{product.name}}</h3>
    <div class="price">{{product.unitPrice|currency:"USD"}}</div>
    <button (click)="addToCart(product)" class=" btn btn-primary btn-sm" href="#">Add to cart</button>
    <h4>Product Description</h4>
    <p>{{product.description}}</p>
    <a class="mt-5" routerLink="/products">Back to Product List</a>
  </div>
</div>
